.movies__cardlist {
  list-style: none;
  max-width: 100%;
  padding:70px 0;
  margin: 0 auto;
  display: grid;
  box-sizing: border-box;
  row-gap: 37px;
  column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
}

.movies__message {
  margin: auto;
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .movies__cardlist {
    max-width: 708px;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

  }

}

@media screen and (max-width: 600px) {
  .movies__cardlist {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
}
