.hamburger-menu {
  display: none;
  width: 28px;
  height: 23px;
  border: none;
  background-color: inherit;
  position: relative;
}

.hamburger-menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

.hamburger-menu-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 0;
  padding: 0;
}

.hamburger-menu-line::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 0;
  padding: 0;
}

.hamburger-menu-line::after {
  position: absolute;
  top: 20px;
  left: 0;
  content: "";
  width: 28px;
  height: 3px;
  background-color: black;
  margin: 0;
  padding: 0;
}





@media screen and (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }
}
