.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navigation__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__movies {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 231px;
}

.navigation__link {
  display: block;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
}

.navigation__link:hover {
    color: #484848;
}



.navigation__profile {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__profile:hover {
  color: #484848;
}


.navigation__link_place_profile {
    padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
}

.navigation__icon {
  display: block;
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 26px;
  height: 30px;
  background-image: url(../../images/icon-profile.svg);
  background-size: 11.5px 14px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 17px;
}


.navigation__link_active {
  font-weight: 500;

}
.navigation__link_active:hover {
  cursor: default;
  color: black;
}

@media screen and (max-width:1000px) {
  .navigation__list {
    display: none;
  }
}